*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #1e1c2a;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
}

.logo{
    color:#ff702a;
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar{
    display: flex;
}

.navbar a{
    color: #fff;
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover{
    color: #ff702a;
    transition: 0.2s;
}

section{
    padding: 70px 17%;
}

.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
    align-items: center;
    word-spacing: 4px;
}

.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}

.home-text h1{
    font-size: 3rem;
    padding-bottom: 20px;
    color: #ff702a;
}

.home-text h2{
    font-size: 2rem;
    padding-bottom: 10px;
    color: white;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 2rem;
    background-color: #ff702a;
    color: white;
    border-radius: 0.5rem;
}

.btn:hover{
    transform: scale(1.1)translateY(2px);
    transition: .1s;
}

.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid: gap 1.5rem;
    align-items: center;
}

.about-img img{
    max-width: 100%;
    height: auto;
}

.about-text span{
    color: #ff702a;
    font-weight: 600;
}

.about-text h2{
    font-size: 2rem;
    color: white;
}

.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
    color: white;
}

.heading{
    text-align: center;
}

.heading span{
    color: #ff702a;
    font-weight: 600;
    font-size: 3rem;
}

.heading h2{
    font-size:2rem;
    color: white;
}

.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    grid-gap:2rem;
    align-items: center;
} 

.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 0.5rem;
}

.box-img{
    width: 220px;
    height: 220px;
}

.box-img img{
    width: 100%;
    height: 100%;
}

.box h2{
    font-size: 1.3rem;
    color: black;
}

.box span{
    font-size: 1rem;
    color: #ff702a;
    font-weight: 600;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    grid-gap: 2rem;
    margin-top: 4rem;
}

.s-box{
    text-align: center;
    padding: 20px 30px;
    color: white;
}

.s-box img{
    width: 90px;
}

.s-box h3{
    margin: 4px 0 10px;
    color: #ff702a;
    font-size: 2rem;
}

.s-box p{
    line-height: 1.7;
}

.cta{
    background-color: #feeee7;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin: 100px auto;
    border-radius: 10px;
}

.cta h2{
    font-size: 2rem;
    color: black;
    margin-bottom: 30px;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    padding: 10px 0;
}

.col{
    width: 25%;
}

.col h4{
    font-size: 1.2rem;
    color:white;
    margin-bottom: 25px;
    position: relative;
}

.col ul li a{
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: 0.2s;
}

.col ul li a:hover{
    color: white;
    transform: translateX(-5px);
}

@media(max-width:1560px){
    header{
        padding: 15px 40px;
    }
}
